@charset "UTF-8";
.banner604{
    position: relative;
}
.banner604 a{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 604px;
    background: url(../image/banner.jpg) no-repeat top center;
}
.main{
    position: relative;
}
.slider{
    width: 730px;
    height: 453px;
    background: pink;
    margin:12px 0 0 220px;
    float: left;
    position: relative;
}
.circle{
    position: absolute;
    bottom: 8px;
    left:50%;
    margin-left: -100px;
}
.circle li{
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 50%;
    background-color: #3e3e3e;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
    margin: 0 2px;
    cursor: pointer;
}
.circle li.current{
    background-color: #B61D1D;
}
.arrow{
    display: none;
}
.arrow-l, .arrow-r{
   position: absolute;
    width: 28px;
    height: 62px;
    background-color: pink;
    top: 50%;
    margin-top: -31px;
    color: #fff;
    font: 500 18px/62px "宋体";
    text-align: center;
    background: rgba(0,0,0,0);
}
.arrow-l{
    left: 0;
}
.arrow-r{
    right: 0;
}
.arrow-l:hover,.arrow-r:hover{
    background: rgba(0,0,0,.4);
    color: #ffffff;
}
.news{
    width: 246px;
    height: 451px;
    border: 1px solid #e4e4e4;
    float: right;
    margin-top: 12px;
    margin-right: 1px;
}
.jd-news{
    height: 200px;
    border-bottom: 1px dashed #e4e4e4;
}
.jd-news .dt, .lifeservice .dt{
    height: 43px;
    border-bottom: 1px dotted #8e8e87;
    line-height: 43px;
}
.jd-news .dt h3,
.lifeservice .dt h3{
    float: left;
    font:14px/43px "微软雅黑";
    color:#666;
    padding-left: 15px;
}
.jd-news .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right: 5px;
}
.jd-news .dd ul{
    padding: 8px 0 0 15px ;
}
.jd-news .dd li{
    line-height: 28px;
}
.jd-news .dd  li span{
    font-weight: 700;
    margin-right: 10px;
}
.lifeservice{
    height: 251px;
    width: 248px;
    overflow: hidden;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li{
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: none;
    float: left;
    margin: 0 0 0 -1px;
}
.lifeservice  a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 48px;
    position: relative;
    background: url(../image/song.png) no-repeat right top;
}
.lifeservice  i{
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../image/icon_lifeserv.png) no-repeat ;
}
.todays{
    position: relative;
    overflow: hidden;
}
.night{
    margin: 10px 0 20px 0 ;
}
.night-r{
    width: 1000px;
    height: 169px;
    float: right;
}
.night-r ul{
    width: 500%;
}
.night-r li{
    float: left;
    margin-left: 1px;
}